In [1]:
import pandas as pd
a=pd.DataFrame()
print(a)

Empty DataFrame
Columns: []
Index: []

In [16]:
import pandas as pd
emp=pd.Series(['Parker','john','smith0'])
id=pd.Series([120,121,122])
frame={'Emp':emp,'ID':id}
result=pd.DataFrame(frame)
print (result)
print (result['Emp'])
result['age']=([29,29,30])
print (result)
del result['age']
print (result)
print(result.loc[1])
print(result[1:3])
d2=pd.DataFrame(['dale',123],colmun['Emp','ID'])

      Emp   ID
0  Parker  120
1    john  121
2  smith0  122
0    Parker
1      john
2    smith0
Name: Emp, dtype: object
      Emp   ID  age
0  Parker  120   29
1    john  121   29
2  smith0  122   30
      Emp   ID
0  Parker  120
1    john  121
2  smith0  122
Emp    john
ID      121
Name: 1, dtype: object
      Emp   ID
1    john  121
2  smith0  122

In [24]:
import pandas as pd
import numpy as np
info=pd.DataFrame([[2,7]]*3,columns=['p','q'])
print(info)
print(info.apply(np.sqrt))
print(info.apply(np.sum,axis=0))
print(info.apply(np.sum,axis=1))

   p  q
0  2  7
1  2  7
2  2  7
          p         q
0  1.414214  2.645751
1  1.414214  2.645751
2  1.414214  2.645751
p     6
q    21
dtype: int64
0    9
1    9
2    9
dtype: int64

In [27]:
import pandas as pd
import numpy as np
info=pd.DataFrame([[1,2,3],[2,3,4],[3,4,5]],columns=['x','y','z'])
print(info)
print(info.agg(['min','max']))

   x  y  z
0  1  2  3
1  2  3  4
2  3  4  5
     x  y  z
min  1  2  3
max  3  4  5

In [28]:
print("\nDataFrame.Sort function:\n")
info=pd.DataFrame(np.random.randn(5,2),
index=[3,2,0,4,1],columns = ['col3','col4'])
print(info)
info2=info.sort_index()
print("\nSort index:\n",info2)
info3 = info.sort_values(by='col3')
print("\nSort Values:\n",info3)

DataFrame.Sort function:

       col3      col4
3  0.024072 -0.031919
2  0.879041  1.909334
0 -0.210002 -0.771471
4  0.560045 -0.239297
1 -0.256522 -0.947499

Sort index:
        col3      col4
0 -0.210002 -0.771471
1 -0.256522 -0.947499
2  0.879041  1.909334
3  0.024072 -0.031919
4  0.560045 -0.239297

Sort Values:
        col3      col4
1 -0.256522 -0.947499
0 -0.210002 -0.771471
3  0.024072 -0.031919
4  0.560045 -0.239297
2  0.879041  1.909334

In [29]:
print("\nDataFrame.Merge function:\n")
left = pd.DataFrame({
'id':[1,2,3,4,5],
'Name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'],
'sub':['sub1','sub2','sub4','sub6','sub5']})
right = pd.DataFrame({
'id':[1,2,3,4,5],
'Name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'],
'sub':['sub2','sub4','sub3','sub6','sub5']})
print(left)
print(right)
print(pd.merge(left,right,on='id'))

DataFrame.Merge function:

   id    Name   sub
0   1    Alex  sub1
1   2     Amy  sub2
2   3   Allen  sub4
3   4   Alice  sub6
4   5  Ayoung  sub5
   id   Name   sub
0   1  Billy  sub2
1   2  Brian  sub4
2   3   Bran  sub3
3   4  Bryce  sub6
4   5  Betty  sub5
   id  Name_x sub_x Name_y sub_y
0   1    Alex  sub1  Billy  sub2
1   2     Amy  sub2  Brian  sub4
2   3   Allen  sub4   Bran  sub3
3   4   Alice  sub6  Bryce  sub6
4   5  Ayoung  sub5  Betty  sub5

In [4]:
import pandas as pd 
import numpy as np
a=np.array(['P','a','n'])
b=pd.Series(a)
print(b)

0    P
1    a
2    n
dtype: object

In [5]:
import pandas as pd
import numpy as np
a={'x':0.,'y':1.,'z':2.}
b=pd.Series(a)
print (b)

x    0.0
y    1.0
z    2.0
dtype: float64

In [6]:
import pandas as pd
import numpy as np
a=pd.Series(4, index=[0,1,2,3])
print(a)

0    4
1    4
2    4
3    4
dtype: int64

In [7]:
import pandas as pd 
import numpy as np
a=pd.Series([1,2,3],index=['a','b','c'])
print (a)

a    1
b    2
c    3
dtype: int64